/*

Main Layout CSS

*/

.bodyContainer{
    margin:0 auto;
    max-width: 650px;
    padding: 0 1rem;  
    min-height: calc(100vh - 70px);
}

/*

 Header Component CSS

*/

.headerContainer{
    max-width: 650px; 
    margin:0 auto;
    margin-top: 3rem;
    margin-bottom:1.5rem;
}

.headerLine{
    font-size: 2rem;
    color:orange;
}

/*

Footer Componet CSS

*/
.footerLinksPos{
    margin: 0.5em;

}


/*

 Index Page CSS

*/



.powerpuffImg{
    border-radius:100%;
}

.coolCatsImg{
    width: 50%;
    margin: 0 auto;
}


/* blog post page CSS */

p {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}