.bodyContainer{
    margin:0 auto;
    max-width: 650px;
    padding: 0 1rem;  

}

.headerContainer{
    max-width: 650px; 
    margin:0 auto;
    margin-top: 3rem;
}

.headerLine{
    font-size: 2rem;
    color:black;
}
.footerLinksPos{
    margin: 0.5em;

}


.powerpuffImg{
    border-radius:100%;
}

.coolCatsImg{
    width: 50%;
    margin: 0 auto;
}